main:
  params: [input]
  steps:
    - init:
        assign:
          - tickers: $${input.tickers}
          - market: $${input.market}
          - masters: $${input.masters}
          - report_format: $${input.report_format}
          - timeout_seconds: $${input.timeout_seconds}
    - run_jobs:
        parallel:
          for:
            value: ticker
            in: $${tickers}
            steps:
              - start_job:
                  call: http.post
                  args:
                    url: https://run.googleapis.com/v2/projects/${project_id}/locations/${region}/jobs/${job_name}:run
                    auth:
                      type: OAuth2
                      scope: https://www.googleapis.com/auth/cloud-platform
                    body:
                      overrides:
                        containerOverrides:
                          - name: ${job_container_name}
                            args:
                              - "--ticker"
                              - $${ticker}
                              - "--market"
                              - $${market}
                              - "--masters"
                              - $${masters}
                              - "--report-format"
                              - $${report_format}
                              - "--timeout-seconds"
                              - $${timeout_seconds}
                  result: operation_request
    - done:
        return:
          status: STARTED
          tickers: $${tickers}
          market: $${market}
          report_format: $${report_format}
