project_id                   = "dassa-lab"
region                       = "asia-east1"
vertex_location              = "us-central1"
service_name                 = "alpha-council"
artifact_repository_name     = "alpha-council"
agent_service_account_id     = "agent-alpha-council"
logs_bucket_name             = "alphacouncil-agent-logs"
logs_bucket_location         = "ASIA-EAST1"
logs_bucket_force_destroy    = false
allow_origins                = ""
memory                       = "4Gi"
cpu                          = "2"
min_instance_count           = 0
max_instance_count           = 3
timeout_seconds              = 900
ingress                      = "INGRESS_TRAFFIC_ALL"
allow_unauthenticated        = false

labels = {
  managed-by = "terraform"
  track      = "agent-service"
}
